.landing-page {
  display: grid;
  gap: 1.96rem;
  margin-bottom: 1.96rem;
  padding: 2rem;
  margin: 0 auto;
}

.landing-page h1 {
  grid-column: 1 / span 3;
  grid-row: 1;
  justify-self: center;
}

.box {
  border: 1px solid #8b1a1a;
  padding: 1.96rem;
}

.box:hover {
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.css {
  grid-column: span 1;
  grid-row: 2;
}

.html {
  grid-column: span 2;
  grid-row: 2;
}

.javascript {
  grid-column: span 2;
  grid-row: 3;
}

.php {
  grid-column: span 1;
  grid-row: 3;
}

.python {
  grid-column: 1 / span 3;
  grid-row: 4;
}

.git {
  grid-column: span 1;
  grid-row: 5;
}

.sqlite {
  grid-column: span 2;
  grid-row: 5;
}

@media (max-width: 767px) {
  .landing-page h1,
  .css,
  .html,
  .javascript,
  .php,
  .python,
  .git,
  .sqlite {
    grid-column: span 1;
    grid-row: auto;
  }
}
